<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>registro proyecto</title>
    <style>
        .container{
            max-width: 960px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Detalles del proyecto <%= proyecto.nombrePry %></h1>
        <div>
            <p>Folio: <%= proyecto.folio %></p>
            <p>Nombre: <%= proyecto.nombrePry %></p>

            <p>Nombre corto: <%= proyecto.nombreCrt %></p>
            <p>Descripcion: <%= proyecto.descripcion %></p>
            <p>Fecha Inicio: <%= proyecto.fechaInicio %></p>
            <p>Fecha Fin: <%= proyecto.fechaFin %></p>
            <p>Estatus: <%= proyecto.estatus %></p>
            <p>Costo Proyecto: <%= proyecto.costoProyecto %></p>
            <p>Stakeolders: <%= proyecto.stakeholdersInfo %></p>
            <p>Pagos Parciales: <%= proyecto.pagosParciales %></p>
        </div>

</div>
</body>
</html>
